{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<title>Reviews Analytics</title>
{% endblock %}

<!-- Body -->
{% block body %}
<div class="baner">
    <form action="/" method="post">
        <div class="main">
            <div class="input-group mb-3">
                <input name="input_review" type="text" class="form-control" placeholder="Review" aria-label="Review" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">Evaluate</button>
                </div>
              </div>
        </div>
    </form>
    
    <table class="table">
        <thead class="thead-light"> 
            <tr>
                <th scope="col">Giải trí</th>
                <th scope="col">Lưu trú</th>
                <th scope="col">Nhà hàng</th>
                <th scope="col">Ăn uống</th>
                <th scope="col">Di chuyển</th>
                <th scope="col">Mua sắm</th>
            </tr>
        </thead>
        <tbody>
            {% if predict %}
            <tr>
                <td scope="row">{{predict.giai_tri}}</td>
                <td>{{predict.luu_tru}}</td>
                <td>{{predict.nha_hang}}</td>
                <td>{{predict.an_uong}}</td>
                <td>{{predict.di_chuyen}}</td>
                <td>{{predict.mua_sam}}</td>
            </tr>
            {% else %}
            <tr>
                <td scope="row">0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}