.main {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.main-title {
    margin-top: 50px;
    text-align: center;
}
.input_review {
    width: 80%;
    height: 50px;
}

.btn-info {
    height: 40px;   
    width: 15%;
    margin-top: auto;
    margin-bottom: auto;
    
}

.table {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}